---
const ABOUT="Soy un profesional de el desarrollo web y testing QA con experiencia en la industria, apasionado por garantizar la calidad del software y asegurarme de que las soluciones tecnológicas se entreguen a tiempo y dentro del presupuesto. Me enorgullece trabajar en estrecha colaboración con los equipos de desarrollo y los clientes para comprender sus necesidades y brindar soluciones de alta calidad. Además de mi experiencia en testing QA. Siempre estoy buscando oportunidades para seguir aprendiendo y mejorando mis habilidades, y disfruto trabajando en un entorno en el que puedo hacer una contribución significativa y ser parte de un equipo altamente motivado. Si está buscando a alguien que pueda brindar resultados de alta calidad y un enfoque centrado en el cliente, ¡no dude en ponerse en contacto conmigo!";
---

<p class="text-lg mb-4 text-pretty">
    {ABOUT}
</p>
<img
loading="lazy"
class="rounded shadow-2xl h-96 object-none shadow-white/10 aspect-video"
src="../../hackathon.jfif"
alt="Foto de el hackathon de banorte"
/>